@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  -webkit-text-stroke: 1px rgb(255, 255, 255);

}
.my{
  color: black;
  -webkit-text-fill-color: rgb(10, 6, 6); /* Will override color (regardless of order) */
  -webkit-text-stroke: 1px rgb(235, 225, 225);
}